[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
skip-character-set-client-handshake
collation-server=utf8mb4_unicode_ci
character-set-server=utf8mb4
