[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld-5.7]
skip-character-set-client-handshake
collation-server=utf8mb4_unicode_520_ci
character-set-server=utf8mb4

[mysqld-8.0]
default-authentication-plugin=mysql_native_password
